<!DOCTYPE html>
<html lang = "en-US">

<head>
	<meta charset = "UTF-8">
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<title>HR - Add employee</title>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
	<!-- Datatables -->
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
</head>

	{% import "bootstrap/wtf.html" as wtf %}

	<body style="max-width: 50%!important;">

		<nav class="navbar navbar-inverse navbar-fixed-top navbar-light bg-light">
			<a href="/" class="navbar-left"><img style="width: 50px; height: 50px; margin: 0px 0px 0px 15px;" src="/static/images/HR.png"></a>
			<a class="navbar-brand" href="/">HR DEPARTMENT</a>
			<a href="/"><img style="float: right; height: 50px; margin-right:8%;" src="/static/images/emps.png"></a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
		</nav>

		<br>
		<br>
		<br>
		<br>

		<div>
			<h1>New employee</h1>
		</div>

		<br>

		<div style= "background-color: rgb(227, 240, 247, .4); padding: 15px; padding-top: 30px; border-radius: 10px; margin-top: 10px;">
			<form action="{{ url_for('add') }}" method="post" class="form" role="form">
				<div class="form-group">
					<d1>
						{{ wtf.form_field(form.first_name, maxlength="15", class='form-control', placeholder='Enter first name...') }}
					</d1>
					<div style="margin-top: -15px;padding-left: 12px;">
					<small style="font-size: 11px; color: grey;">Max 15 characters</small>
					</div>
				</div>
				<div class="form-group">
					<d1>
						{{ wtf.form_field(form.last_name, maxlength="15", class='form-control', placeholder='Enter last name...') }}
					</d1>
					<div style="margin-top: -15px;padding-left: 12px;">
					<small style="font-size: 11px; color: grey;">Max 15 characters</small>
					</div>
				</div>
				<div class="form-group">
					<label>Gender</label>
					<br>
					<d1>
						<div class="btn-group-toggle" data-toggle="buttons">
						<label class="btn btn-success" style="width: 70px;">
							<input type="radio" name="gender" value="F"> Female
						</label>
						<label class="btn btn-success" style="width: 70px;">
							<input type="radio" name="gender" required value="M"> Male
						</label>
					</div>
					</d1>
				</div>
				<div class="form-group">
					<label>Birth date</label>
					<br>
					<d1>
							<input required type="text" class="form-control" placeholder="mm/dd/yyyy" onfocus="(this.type='date')" style="width:200px;" name="birth_date"/>
					</d1>
				</div>
			</div>
			<p><input type=button onclick="window.location='/';" value="Cancel" class="btn btn-warning pull-right" style="margin-bottom: 0px; margin-top: 30px; margin-left: 5px;"></p>
			<p><input type=submit value="Create employee" class="btn btn-info pull-right" style="margin-bottom: 10px; margin-top: 20px;"></p>
			</form>

	</body>
