<!DOCTYPE html>
<html lang = "en-US">

	<head>
		<meta charset = "UTF-8">
		<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<title>Employees</title>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
	</head>

	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top navbar-light bg-light" style="background-color: rgb(227, 240, 247, .4); border-width: 0px;" role="navigation">
			<a href="/" class="navbar-left"><img style="width: 40px; height: 40px; margin: 5px 0px 5px 15px;" src="/static/images/HR.png"></a>
			<a class="navbar-brand" href="/" style="color: black;" >HR DEPARTMENT</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
		</nav>
		<div style= "background-color: rgb(227, 240, 247, .4); padding: 15px; padding-top: 30px; border-radius: 10px; margin-top: 80px; text-align: center;">
			<h2>Are you sure that you wish to delete employee {{empno}}?</h2>
		</div>
		<form action="{{ url_for('delete', empno=empno) }}" method="post">
		<p><input type="submit" value="Delete" class="btn btn-danger" style="float: right; margin-left: 5px;"></p>
		</form>
		<form action="{{ url_for('delete', empno=empno) }}">
		<p><input type="submit" value="Cancel" class="btn btn-success" style="float: right;"></p>
		</form>
	</body>
