<!DOCTYPE html>
<html lang = "en-US">

<head>
	<meta charset = "UTF-8">
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- Datatables -->
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
	<!-- Title -->
	<title>HR - Employees</title>
	<!-- Custom styles -->
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
</head>

	<body>

		<nav class="navbar navbar-inverse navbar-fixed-top navbar-light bg-light" role="navigation">
			<a href="/" class="navbar-left"><img style="width: 50px; height: 50px; margin: 0px 0px 0px 15px;" src="/static/images/HR.png"></a>
			<a class="navbar-brand" href="/">HR DEPARTMENT</a>
			<a href="/"><img style="float: right; height: 50px; margin-right:8%;" src="/static/images/emps.png"></a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
		</nav>

		<br>
		<br>
		<br>
		<br>

		<div>
			<h1>Employees overview</h1>
		</div>

		<br>

		<a href="/add"><img style="float: right; height: 45px; width: 45px; margin-right: 30px;" title="Add an employee" src="/static/images/add.png" class="pop_image"></a>
		<br>
		<br>
		<br>

		<div style= "background-color: rgb(227, 240, 247, .65); padding: 15px; border-radius: 10px; margin-top: 0px;">
			<table class="table" id="list" cellspacing="0" cellpadding="0">
			<thead>
				<tr>
					<th>Employee Number</th>
					<th>Title</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				{% for employee in employees %}
				<tr>
					<td>{{employee.emp_no}}</td>
					<td>{{employee.gender}}</td>
					<td>{{employee.first_name}}</td>
					<td>{{employee.last_name}}</td>
					<td width="40px">
						<input class="pop_image_small" type="image" data-toggle="modal" data-id="{{employee.emp_no}}" data-target="#show{{employee.emp_no}}" name="quickview" src="/static/images/quickview.png" style="width:15px; height:15px;" alt="Quick view" title="View Profile"/>
					</td>
					<td width="40px">
						<form action="{{ url_for('edit', empno=employee.emp_no, gender=employee.gender, firstname=employee.first_name, lastname=employee.last_name, bdate=employee.birth_date) }}" method="post">
						<input class="pop_image_small" type="image" name="submit" src="/static/images/edit.png" style="width:15px; height:15px;" alt="Edit" title="Edit Profile"/>
						</form>
					</td>
					<td width="40px">
						<input class="pop_image_small" type="image" data-toggle="modal" data-id="{{employee.emp_no}}" data-target="#delete{{employee.emp_no}}" name="submit" src="/static/images/exit.png" style="width:15px; height:15px;" alt="Delete" title="Delete Employee"/>
					</td>
				</tr>
				<!--Delete confirmation Modal -->
				<div class="modal fade" id="delete{{employee.emp_no}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content" style="margin-top: 200px;">
				      <div class="modal-body">
								<center><img style="height: 50px; width: 50px;" src="/static/images/exclamation_mark.png"><center>
								<br>
								<h2>Are you sure that you wish to delete {{employee.gender}} {{employee.first_name}} {{employee.last_name}} (employee {{employee.emp_no}})?</h2>
				      </div>
				      <div class="modal-footer">
								<form action="{{ url_for('delete', empno=employee.emp_no) }}" method="post">
								<p><input type="submit" value="Delete" class="btn btn-danger" style="float: right; margin-left: 5px; margin-top: 30px;"></p>
								</form>
								<p><input type="button" data-dismiss="modal" value="Cancel" class="btn btn-warning" style="float: right; margin-top: 20px"></p>
				      </div>
				    </div>
				  </div>
				</div>
				<!--End of Delete confirmation Modal -->
				<!--Show Profile Modal -->
				<div class="modal fade" id="show{{employee.emp_no}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content" style="margin-top: 200px;">
							<div class="modal-header">
							<button data-dismiss="modal" class="close">×</button>
							</div>
				      <div class="modal-body">
								<center><img style="height: 100px; width: 100px;" {% if employee.gender == "Mr." %} src="/static/images/man_profile.png" {% else %} src="/static/images/woman_profile.png" {% endif %}>
								<br>
								<h1><center>{{employee.gender}} {{employee.first_name}} {{employee.last_name}}</center></h1>
								<h2>Employee {{employee.emp_no}}</h2>
								<br>
								<p>Birth date: {{employee.birth_date}}</p>
								<p>Hire date: {{employee.birth_date}}</p>
								</center>
				      </div>
				      <div class="modal-footer">
								<form action="{{ url_for('edit', empno=employee.emp_no, gender=employee.gender, firstname=employee.first_name, lastname=employee.last_name, bdate=employee.birth_date) }}" method="post">
								<input type="button" data-dismiss="modal" class="btn btn-danger pull-right" data-toggle="modal" data-id="{{employee.emp_no}}" data-target="#delete{{employee.emp_no}}" name="submit" value="Delete"/>
								<input type="submit" style="margin-right: 5px;" class="btn btn-info pull-right" name="submit" value="Edit profile"/>
								</form>
				      </div>
				    </div>
				  </div>
				</div>
				<!--End of Show Profile Modal -->
				{% endfor %}
			</tbody>
			</table>
		</div>

	</body>

<script>

$.fn.dataTable.ext.classes.sLengthSelect = 'btn-sm btn-secondary dropdown-toggle';
$.fn.dataTable.ext.classes.sFilterInput = 'form-control input-sm';
$('#tablebalanceBTC_filter input[type="search"]').attr('placeholder', 'Table search');

$(document).ready(function() {
    $('#list').DataTable( {
        "dom": '<"top"fl>rt<"bottom"ip><"clear">',
				language: {
					search: "",
					searchPlaceholder: "Search employees"
				},
		} );
} );

</script>
