<!DOCTYPE html>
<html lang = "en-US">

	<head>
		<meta charset = "UTF-8">
		<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<title>Employees</title>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
	</head>

	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top navbar-light bg-light" style="background-color: rgb(227, 240, 247, .4); border-width: 0px;" role="navigation">
			<a href="/" class="navbar-left"><img style="width: 40px; height: 40px; margin: 5px 0px 5px 15px;" src="/static/images/HR.png"></a>
			<a class="navbar-brand" href="/" style="color: black;" >HR DEPARTMENT</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
		</nav>
		<br>
		<br>
		<br>
		<div>
			<h1>Employee overview</h1>
		</div>
		<p>
			<a class="btn btn-info" style="margin-bottom: 10px; float: right" href="/add">New employee</a>
		</p>
		<br>
		<br>
		<div style= "background-color: rgb(227, 240, 247, .4); padding: 15px; padding-top: 30px; border-radius: 10px; margin-top: 10px;">
			<table class="table">
				<tr>
					<th>Employee Number</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>&nbsp;</th>
				</tr>
				{% for employee in employees %}
				<tr>
					<td>{{employee.emp_no}}</td>
					<td>{{employee.first_name}}</td>
					<td>{{employee.last_name}}</td>
					<td width="20px">
						<form action="{{ url_for('edit', firstname=employee.first_name, lastname=employee.last_name) }}" method="post">
						<input type="image" name="submit" src="/static/images/edit.png" style="width:15px; height:15px;" alt="Edit" />
						</form>
					</td>
					<td width="20px">
						<form action="{{ url_for('confirm', empno=employee.emp_no) }}" method="post">
						<input type="image" name="submit" src="/static/images/exit.png" style="width:15px; height:15px;" alt="Delete" />
    				</form>
					</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</body>
