<!DOCTYPE html>
<html lang = "en-US">

	<head>
		<meta charset = "UTF-8">
		<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<title>Employees</title>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
	</head>

	<body>

		<nav class="navbar navbar-inverse navbar-fixed-top navbar-light bg-light" style="background-color: rgb(227, 240, 247, .4); border-width: 0px;" role="navigation">
			<a href="/" class="navbar-left"><img style="width: 40px; height: 40px; margin: 5px 0px 5px 15px;" src="/static/images/HR.png"></a>
			<a class="navbar-brand" href="/" style="color: #282828;" >HR DEPARTMENT</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
		</nav>

		<br>
		<br>
		<br>
		{% if search %}
		<div>
			<h1>Search results</h1>
		</div>
		{% else %}
		<div>
			<h1>Employees overview</h1>
		</div>
		{% endif %}

		<br>
		<br>
		<br>

		<form action="{{ url_for('search') }}" method="post">
  		<div class="row">
    		<div class="col-xs-6 col-md-4" style="float: right; width: 45%;">
      		<div class="input-group">
        		<input type="text" required class="form-control" style="border:1px solid white; -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,.0)" placeholder="Search employees" name= "search" id="txtSearch"/>
        			<div class="input-group-btn">
          			<button class="btn btn-light" style="background-color: #23272b; color: #fff;" type="submit">
            			<span class="glyphicon glyphicon-search"></span>
          			</button>
								<a class="btn btn-info" style="" href="/add">New employee</a>
								{% if search %}
										<a class="btn btn-warning" href="/">All employees</a>
								{% endif %}
        			</div>
      		</div>
    		</div>
  		</div>
		</form>

		<br>

		{% if not no_match %}
		<div style= "background-color: rgb(227, 240, 247, .4); padding: 15px; padding-top: 30px; border-radius: 10px; margin-top: 0px;">
			<table class="table" cellspacing="0" cellpadding="0">
				<tr>
					<th>Employee Number</th>
					<th>Title</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Birth Date</th>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
				</tr>
				{% for employee in employees %}
				<tr>
					<td>{{employee.emp_no}}</td>
					<td>{{employee.gender}}</td>
					<td>{{employee.first_name}}</td>
					<td>{{employee.last_name}}</td>
					<td>{{employee.birth_date}}</td>
					<td width="20px">
						<form action="{{ url_for('edit', empno=employee.emp_no, gender=employee.gender, firstname=employee.first_name, lastname=employee.last_name) }}" method="post">
						<input type="image" name="submit" src="/static/images/edit.png" style="width:15px; height:15px;" alt="Edit" />
						</form>
					</td>
					<td width="20px">
						<input type="image" data-toggle="modal" data-id="{{employee.emp_no}}" data-target="#{{employee.emp_no}}" name="submit" src="/static/images/exit.png" style="width:15px; height:15px;" alt="Delete" />
					</td>
				</tr>
				<!-- Modal -->
				<div class="modal fade" id="{{employee.emp_no}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content" style="margin-top: 200px;">
				      <div class="modal-body">
								<h2>Are you sure that you wish to delete {{employee.gender}} {{employee.first_name}} {{employee.last_name}} (employee {{employee.emp_no}})?</h2>
				      </div>
				      <div class="modal-footer">
								<form action="{{ url_for('delete', empno=employee.emp_no) }}" method="post">
								<p><input type="submit" value="Delete" class="btn btn-danger" style="float: right; margin-left: 5px; margin-top: 30px;"></p>
								</form>
								<p><input type="button" data-dismiss="modal" value="Cancel" class="btn btn-warning" style="float: right; margin-top: 20px"></p>
				      </div>
				    </div>
				  </div>
				</div>
				<!--Endof Modal -->
				{% endfor %}
			</table>
		</div>
		{% else %}
		<div style= "background-color: rgb(227, 240, 247, .4); padding: 15px; padding-top: 10px; border-radius: 10px; margin-top: 0px;">
		<h2>{{message}}</h2>
		</div>
		{% endif %}

	</body>
