/* myStyle.css */
body {
  background-image: url("../images/bkg.jpg");
	margin-top: 5%;
	max-width: 70%;
	margin: auto;
}

h1 {
 color: black;
 text-align: left;
 font: 200%;
}

a:hover.navbar-brand {
	color: grey!important;
}
