/* myStyle.css */
body {
  background-image: url("../images/bkg.jpg");
	margin-top: 5%;
	max-width: 65%;
	margin: auto;
}

h1 {
 color: black;
 text-align: left;
 font-size: 250%;
}

h2 {
 color: black;
 text-align: center;
 font-size: 150%;
}

a:hover.navbar-brand {
	color: grey!important;
}
