/* myStyle.css */
body {
  background-image: url("../images/bkg3.jpg");
	margin-top: 5%;
	max-width: 65%;
	margin: auto;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}

h1 {
 color: #383737;
 text-align: left;
 font-size: 250%;
}

h2 {
 color: #383737;
 text-align: center;
 font-size: 150%;
}

a:hover.navbar-brand {
	color: grey!important;
}

.table {
  margin-bottom: 0px!important;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	border-top: 0px solid red!important;
}

tr:nth-of-type(odd) {
	background-color:rgb(227, 240, 247, .9);
}

.modal-footer {
	border-top:0px solid #e5e5e5!important;
}
